In [1]:
import pandas as pd

In [3]:
#Sample data
data={
    'CustomerId':['c001','c002','c003','c004','c005','c006','c007','c008'],
    'Education_Level':['High School','Bachelors','Masters','PHD','High School','Bachelors','Masters','PHD'],
    'Product_Quality':['Low','High','Medium','Low','High','Medium','Low','High'],
    'Satisfaction_Level':['poor','poor','good','Average','Excellent','good','Average','Excellent']
}
df=pd.DataFrame(data)

In [4]:
df

  CustomerId Education_Level Product_Quality Satisfaction_Level
0       c001     High School             Low               poor
1       c002       Bachelors            High               poor
2       c003         Masters          Medium               good
3       c004             PHD             Low            Average
4       c005     High School            High          Excellent
5       c006       Bachelors          Medium               good
6       c007         Masters             Low            Average
7       c008             PHD            High          Excellent

In [14]:
#Define the order for each ordinal feature

education_order = ['High School','Bachelors','Masters','PHD']
product_quality_order =['Low','Medium','High']
satisfaction_order =['poor','good','Average','Excellent']

In [15]:
from sklearn.preprocessing import OrdinalEncoder

In [16]:
encoder=OrdinalEncoder(categories=[education_order,product_quality_order,satisfaction_order])

In [19]:
#Apply encoding (skip customerId as it is identifier)

df[['Education_Level','Product_Quality','Satisfaction_Level']]=encoder.fit_transform(df[['Education_Level','Product_Quality','Satisfaction_Level']])

In [20]:
df

  CustomerId  Education_Level  Product_Quality  Satisfaction_Level
0       c001              0.0              0.0                 0.0
1       c002              1.0              2.0                 0.0
2       c003              2.0              1.0                 1.0
3       c004              3.0              0.0                 2.0
4       c005              0.0              2.0                 3.0
5       c006              1.0              1.0                 1.0
6       c007              2.0              0.0                 2.0
7       c008              3.0              2.0                 3.0